.container {
  background-color: var(--primary-color);
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.section {
  margin-bottom: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header h2 {
  font-size: 1.15rem;
  margin: 0 8px;
  color: var(--color-white);
  font-weight: 400;
}

.arrowIcon {
  font-size: 30px;
}

.underline {
  border: 0;
  height: 1px;
  background-color: var(--color-silver);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid white;
}

.service {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  transition: color 0.3s, transform 0.3s;
}

.service:hover .iconOQueFazemos {
  color: var(--secondary-color);
  background-color: white;
  transform: scale(1.1);
  box-shadow: 0 0 8px white;
}

.service:hover .iconComoFazemos {
  color: var(--secondary-color);
  background-color: white;
  transform: scale(1.1);
  box-shadow: 0 0 8px white;
}

.service:hover h3,
.service:hover p {
  color: white;
  transform: scale(1.05);
}

.containerIcon {
  display: flex;
  align-items: center;
}

.iconOQueFazemos {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  width: 60px;
  height: 60px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin-right: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.iconOQueFazemos:hover {
  color: var(--secondary-color);
  background-color: white;
  transform: scale(1.1);
  box-shadow: 0 0 8px white;
}

.service h3 {
  font-size: 1.35rem;
  margin-bottom: 5px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 300;
}

.service p {
  font-size: 0.9rem;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 300;
  line-height: 1.5;
}

.service h3,
.service p {
  transition: color 0.3s, transform 0.3s;
  transform-origin: left;
}

.iconComoFazemos {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin-right: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.iconComoFazemos:hover {
  color: var(--secondary-color);
  background-color: white;
  transform: scale(1.1);
  box-shadow: 0 0 8px white;
}

.scrollingTextContainer {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-color);
  margin-bottom: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.scrollingText {
  color: var(--color-white);
  font-family: var(--primary-font);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 0.8;
  font-style: italic;
  font-size: 5.5rem;
  white-space: nowrap;
  display: block;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    padding-left: 13rem;
    padding-right: 7rem;
    padding-bottom: 3rem;
  }

  .section {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header {
    justify-content: center;
    align-items: center;
  }

  .underline {
    width: 80%;
    position: relative;
  }

  .arrowIcon {
    font-size: 35px;
  }

  .service h2 {
    display: inline;
  }

  .service p {
    width: 70%;
  }
}

@media (min-width: 1350px) {
  .container {
    padding-left: 18rem;
  }
}