.container {
    background-color: var(--primary-color);
    color: var(--color-white);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.container h2 {
    font-size: 4rem;
    margin-top: 2rem;
    font-weight: 350;
    color: var(--color-white);
    margin-bottom: 0rem;
    
}

.container p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--secondary-font);
    margin-top: 2rem;
    line-height: 1.5rem;
    font-weight: 300;
}

@media (min-width: 768px) {
    .container {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
     .container p {
        font-size: 1.15rem;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 7rem;
        padding-left: 12rem;
    }
    .container h2 {
        font-size: 5rem;
    }
    .container p {
        font-size: 1.25rem;
    }
}

@media (min-width: 1300px) {
    .container {
        padding-left: 20rem;
    }
}